
.payday {
  background: linear-gradient(var(--color-primary), #aaaf22);
}

span {
  background: var(--color-white);
  padding: 0 20px;
  -webkit-transform: rotate(-5deg);
  display: inline-block;
}

span::before {
  content: "";
}

.payday button {
  background: var(--color-black);
  color: var(--color-white);
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}